@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Faster+One&family=Fredoka+One&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Russo+One&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* DUMMY */
.bloom {
  color: #283a22;
  color: #65a293;
  color: #688c4f;
  color: #b59fb6;
  color: #a354a3;
}
/* Color Palette #47 */
.waterfall {
  color: #c6e6f5;
  color: #87bbd0;
  color: #417670;
  color: #336a7e;
  color: #002d3c;
}

/* Color Palette #63 */
.fireflower {
  color: #4e003c;
  color: #831a6c;
  color: #f4c8c9;
  color: #fdeb01;
  color: #d59005;
}
/* Color Palette #132 */

.lavander {
  color: #051016;
  color: #203844;
  color: #bcebc9;
  color: #9a5492;
  color: #511932;
}
/* Color Palette #540 */
.blossom {
  color: #cdf5db;
  color: #8bd1d3;
  color: #c0aec4;
  color: #96439d;
  color: #390164;
}
/* Color Palette #796 */
.seasunset {
  color: #041f32;
  color: #513754;
  color: #907193;
  color: #ffad98;
  color: #f2766e;
}

.seasunset2 {
  color: #041f32;
  color: #513754;
  color: #907193;
  color: #ffad98;
  color: #cacaca;
}
@layer utilities {
  .web-width {
    @apply w-11/12 xxl:w-8/12 xl:w-9/12  md:w-5/6 mx-auto;
  }
}
#hero h1 {
  z-index: 9999;
  text-shadow: 1px 1px 3px black;
}
#tina-name {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
}
